* text=auto !eol
/AUTHORS -text
/Makefile -text
/apertium-en-af.af.dix -text
/apertium-en-af.en-af.dix -text
/apertium-en-af.en.dix -text
/apertium-en-af.trules-af-en.xml -text
/apertium-en-af.trules-en-af.xml -text
