* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/REGRESSION -text
/TODO -text
/afr-eng.prob -text
/afr-eng.unsupervised.make -text
/apertium-eng-afr.afr-eng.t1x -text
/apertium-eng-afr.afr-eng.t2x -text
/apertium-eng-afr.afr-eng.t3x -text
/apertium-eng-afr.afr.dix -text
/apertium-eng-afr.afr.tsx -text
/apertium-eng-afr.eng-afr.dix -text
/apertium-eng-afr.eng-afr.t1x -text
/apertium-eng-afr.eng-afr.t2x -text
/apertium-eng-afr.eng-afr.t3x -text
/apertium-eng-afr.eng.dix -text
/apertium-eng-afr.eng.tsx -text
/apertium-eng-afr.post-af.dix -text
/apertium-eng-afr.post-en.dix -text
/autogen.sh -text
/configure.ac -text
dev/Makefile-parser.am -text
dev/apertium-eng-afr.en.reg -text
dev/fix-scol.rb -text
dev/paramedic_list.sorted.txt -text
dev/paramedic_wordlist_en_bidix_not_monodix_redux.europarl-freq.txt -text
dev/paramedic_wordlist_en_bidix_not_monodix_redux.txt -text
dev/todo_checking.freq.txt -text
/eng-afr.prob -text svneol=unset#unset
/eng-afr.unsupervised.make -text
/modes.xml -text
tests/Arctic-af.txt -text
tests/Arctic-en.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
