* text=auto !eol
/ACKNOWLEDGEMENTS -text
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/af-en.prob -text
/apertium-en-af.af-en.t1x -text
/apertium-en-af.af-en.t2x -text
/apertium-en-af.af-en.t3x -text
/apertium-en-af.af.dix.xml -text
/apertium-en-af.en-af.dix.xml -text
/apertium-en-af.en-af.t1x -text
/apertium-en-af.en-af.t2x -text
/apertium-en-af.en-af.t3x -text
/apertium-en-af.en.dix.xml -text
/apertium-en-af.post-af.dix -text
/apertium-en-af.post-en.dix -text
/apertium-en-af.symbols.xml -text
/autogen.sh -text
/configure.ac -text
/en-af.prob -text
/modes.xml -text
